<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.springboot_project.pur.mapper.OrderitemMapper" >
  <resultMap id="BaseResultMap" type="com.zking.springboot_project.pur.model.Orderitem" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goodsid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goodsname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="money" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="endtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ender" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="storeid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="orderid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsid, goodsname, price, num, money, endtime, ender, storeid, state, orderid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryitembyid" resultType="map" parameterType="com.zking.springboot_project.pur.model.Orderitem">
    SELECT
    <include refid="Base_Column_List"/>
    from orderdetail
    WHERE  orderid=#{orderid}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderdetail
    where orderid = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.springboot_project.pur.model.Orderitem" >
    insert into orderdetail (goodsid, goodsname,
      price, num, money, endtime, 
      ender, storeid, state, 
      orderid)
    values (#{goodsid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR},
      #{price,jdbcType=REAL}, #{num,jdbcType=INTEGER}, #{money,jdbcType=REAL}, #{endtime,jdbcType=TIMESTAMP}, 
      #{ender,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{state,jdbcType=CHAR}, 
      #{orderid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.springboot_project.pur.model.Orderitem" >
    update orderdetail
    set endtime = #{endtime},
      ender = #{ender},
      storeid = #{storeid},
      state = #{state}
    where id = #{id}
  </update>
</mapper>