<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.springboot_project.pur.mapper.ShopcartMapper" >
  <resultMap id="BaseResultMap" type="com.zking.springboot_project.pur.model.Shopcart" >
    <constructor >
      <idArg column="cartid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goodid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goodname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unitprice" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subtotal" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    cartid, userid, goodid, goodname, unitprice, num, subtotal, state
  </sql>
  <update id="updategoodid" parameterType="com.zking.springboot_project.pur.model.Shopcart">
   update shopcart
    set num = #{num},
        subtotal = #{subtotal}
    where goodid = #{goodid}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopcart
    where cartid = #{cartid,jdbcType=INTEGER}
  </delete>
  <select id="queryCartLst" resultType="map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM shopcart
  </select>
  <select id="querygoodid" resultType="com.zking.springboot_project.pur.model.Shopcart">
    SELECT
    <include refid="Base_Column_List"/>
    from shopcart where goodid=#{goodid}
  </select>
  <insert id="insert" parameterType="com.zking.springboot_project.pur.model.Shopcart" >
    insert into shopcart (goodid,
      goodname, unitprice, num, 
      subtotal, state)
    values (  #{goodid,jdbcType=INTEGER},
      #{goodname,jdbcType=VARCHAR}, #{unitprice,jdbcType=REAL}, #{num,jdbcType=INTEGER}, 
      #{subtotal,jdbcType=REAL}, #{state,jdbcType=INTEGER})
  </insert>
</mapper>