<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.springboot_project.sys.mapper.RoleModuleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.springboot_project.sys.model.RoleModule" >
    <constructor >
      <arg column="roleid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="moduleid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.zking.springboot_project.sys.model.RoleModule" >
    insert into role_module (roleid, moduleid)
    values (#{roleid,jdbcType=VARCHAR}, #{moduleid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.springboot_project.sys.model.RoleModule" >
    insert into role_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>